/*
.carousel-fade {
    max-width: 800px; /* Ajusta el ancho deseado del carrusel */
    margin: 0 auto; /* Centra el carrusel en la pantalla */
  /*}

.contenedor{
    background-color: aqua;
}

.carousel .slide img {
    width: 100%; /* Ajusta el ancho deseado para todas las imágenes */
    height: auto; /* Asegura que la relación de aspecto se mantenga */
    object-fit: cover; /* Asegura que la imagen se ajuste correctamente dentro del contenedor */
/*}

.tamano{
    width: 100%; /* Ajusta el ancho deseado para todas las imágenes */
    height: auto; /* Asegura que la relación de aspecto se mantenga */
    object-fit: cover;
/*}